// Mixins

mixin newsletter
  section.newsletter
        h2 Newsletter

        p Sign up for our newsletter to get:

        ul
          li Campground status updates
          li All the latest park news
          li Free park guides and itineraries
          li Features on the best the park has to offer

        p Sign up instantly, unsubscribe anytime.

        input(type='email', placeholder='E-mail address')
        button Sign Up

mixin reviewQuote(quote, author)
  blockquote= quote

    cite - #{author}

mixin campCard(camp)
  section.camp-card
    h3= camp.name

    img(src='images/camps/#{camp.photoFilename}.jpg')

    .details
      span.camp-details.sites #{camp.details.sites} sites
      span.camp-details.sites #{camp.details.open}
      span.camp-details.sites #{camp.details.elevation}' elev.

    p.description= camp.description

    span.camp-details= camp.details.fees

    ul.facilities
      each facility in camp.facilities
        li(class=facility)

// Page Content

html(lang='en-us')
  head
    title
      | Olympic National Park
  body
    header
      a(href='#') Logo
      ul
        li
          a(href='#') Adventure
        li
          a(href='#') Camping
        li
          a(href='#') Reviews
        li
          a(href='#') Campgrounds
        li
          a(href='#') Newsletter

    .hero
      h1 Camping at Olympic

    section.intro
      h2 Adventure, Exploration, Fun.
      p
        | There are few places in the world like Olympic National Park. Within a day you could easily hike from the ruggedly beautiful seashores through verdant Pacific rainforests and up to the majestic peaks of Mount Olympus. With so much to experience you’ll want to stay a while, and there’s no better way than camping. Stay in any of Olympic’s 16 camp sites and surround yourself with good friends and pristine wilderness.

    +newsletter

    section.camping
      h2 Camping at Olympic

      p
        | From easily accessible campgrounds with amenities to remote sites only accessible by hiking trails, there’s a camp in Olympic National Park to fit any camper’s style.

      section
        h3 Backpacking

        p
          | Backpacking offers a great chance to really get in touch with nature. It’s also the only way to get to some of the more remote sites in the park. Backpacking’s the way to go if you’re looking to get away from the crowds.

        aside
          strong 16
          span Backpacking Campsites

      section
        h3 RVing

        p
          | Driving straight in to the campsite is an option for all RV-capable camp sites, making this great option for beginners or people with limited mobility. 

        aside
          strong 12
          span RVing Campsites

      section
        h3 Amenities

        p
          | Here’s a sampling of what is offered by the campgrounds at Olympic. Amenities vary by campground, so be sure to check the individual campground for more details.

        ul
          li Fire pits &amp; firewood
          li Accessible restrooms &amp; pit toilets
          li Picnic tables
          li RV dump stations
          li Animal-proof food storage
          li Potable water

      section
        h3 Fees &amp; Reservations

        p
          | Most campgrounds are available on a first-come, first-served basis. The only exception is the Kalalock campground during the summer season. For Kalaloch during the summer, online reservations can be made through #[a(href='www.recreation.gov') recreation.gov].

        p
          | Fees vary by campground, but all are between $15-22 per site per night. Campground fees are separate from and not included in the park entrance. Fees can be paid at campground self-service stations.

    section.reviews
      h2 Reviews

      +reviewQuote(
        "I fell in love with the park that day. I plan on going back and hiking Hurricane Ridge again. It's a good three hours or more depending on how lost you can get in the beauty. And we will attempt to see Hoh Rainforest again.",
        "Katrina B.")

      +reviewQuote(
        "Originally, we were trying to go to the Hoh Rain Forest but when we got to the visitor center the park ranger said it would be a three hour drive. We underestimated the drive from Seattle. He recommended this hike to us over Hoh.",
        "Katrina B.")

      +reviewQuote(
        "There's a discontiguous part of the park along the coast. This was actually the first time I ever saw the Pacific Ocean, and the first time in my adult life I've seen any ocean (despite a fair bit of travelling).",
        "Adam C.")

    section.campgrounds
      h2 Campgrounds

      +campCard({
        name: 'Altair',
        photoFilename: 'camp-placeholder',
        details: {
          sites: 30,
          open: 'May-Oct',
          elevation: 450,
          fees: '$20 per night, first-come first-serve'
        },
        description: 'Nestled near the Elwha River, Altair Campground offers a combination of riverfront and forest campsites.',
        facilities: [
          'tent',
          'camper',
          'restroom',
          'water',
          'hancicap'
        ]
      })

    +newsletter

    footer
      a(href='#') Logo
      ul
        li
          a(href='#') About

